// text override
#app {
    background-color: #D6EAF8;
    height: 100vh;
}

.is-muted {
    color: $grey-light !important;
}

a.is-muted:hover {
    color: $grey !important;
}




.nav {
    height: 4.5rem;

}

.nav-item img {
    height: 33px;
    width: 33px;
}
